@page "/diagram"
@using Blazor.Diagrams;
@using Blazor.Diagrams.Components
@using BlazorApp1.Services
@inject ApplicationState AppState

<h3>Diagram</h3>
@if (!AppState.IsInteractive || _diagram == null)
{
   <div>Loading...</div>
}
else
{
    <div style="width:100%; height:400px;">
        <CascadingValue Value="_diagram" IsFixed="true">
            <DiagramCanvas></DiagramCanvas>
        </CascadingValue>
    </div>
}

@code {
    private BlazorDiagram? _diagram { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AppState.SetInteractive();
            _diagram = AppState.GetOrCreateDiagram();
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
