@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<div>A app for Blazor experiments</div>
<div>Using the excellent <a target="_blank" href="https://blazor-diagrams.zhaytam.com/">Blazor.Diagrams</a></div>
