.mud-node {
    border: 3px solid;
    // background-color: lightblue;
}

.mud-node.selected {
        border-color: red;
        // background-color: lightcoral;
 }

::deep .mud-node .mud-card {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 8px;
}

::deep .mud-node-title-selected {
    font-weight: bold;
}

.default-node {
}
